body{
    background-color: lightsalmon;
}

#productsContainer{
    justify-content: center;
    margin-top: 1%
}
.productContainer{
    margin:1%;
}
#formId{
    background-color: rgb(196, 74, 74);
    border: solid black;
    display:flex;
    flex-direction:column;
   align-items: center;
}